.schedule {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 24px 8px;
  position: relative;
}

.schedule .frame-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.schedule .frame-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.schedule .text-wrapper-2 {
  color: var(--ccblack-00);
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.schedule .div-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.schedule .text-wrapper-3 {
  color: var(--ccblack-00);
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.schedule .text-wrapper-4 {
  color: var(--ccwhite-ff);
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0;
  position: relative;
  width: fit-content;
}

.schedule .frame-4 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 154.41px;
}

.schedule .calendar-svgrepo-com {
  height: 60px;
  position: relative;
  width: 60px;
}

.schedule .p {
  color: var(--ccblack-00);
  font-family: "Montserrat", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -24.8px;
  margin-right: -24.8px;
  position: relative;
  text-align: center;
  width: 204px;
}

.schedule .frame-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.schedule .frame-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.schedule .name-serial-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.schedule .name-serial-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 100%;
}

.schedule .text-wrapper-5 {
  color: var(--ccblack-00);
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.48px;
  position: relative;
  width: fit-content;
}

.schedule .frame-7 {
  align-items: center;
  align-self: stretch;
  border: 1px solid;
  border-color: var(--greygrey-300);
  border-radius: 6px;
  display: flex;
  height: 48px;
  justify-content: space-between;
  padding: 6px 12px;
  position: relative;
  width: 100%;
}

.schedule .text-wrapper-6 {
  color: var(--greygrey-500);
  font-family: "Montserrat", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.schedule .text-wrapper-7 {
  color: var(--main-shadesmain-color);
  font-family: "Montserrat", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.schedule .frame-8 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.schedule .frame-wrapper {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--ccinput-bg);
  border-radius: 12px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 100%;
}

.schedule .frame-9 {
  align-items: center;
  align-self: stretch;
  border-radius: 6px;
  display: flex;
  height: 48px;
  justify-content: space-between;
  padding: 6px 12px;
  position: relative;
  width: 100%;
}

.schedule .text-wrapper-8 {
  color: var(--ccblack-00);
  font-family: "Montserrat", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.schedule .frame-10 {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 78px;
}

.schedule .text-wrapper-9 {
  color: var(--ccblack-00);
  font-family: "Montserrat", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -2px;
  position: relative;
  width: fit-content;
}

.schedule .img {
  height: 24px;
  position: relative;
  width: 24px;
}

.schedule .name-serial-3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--ccinput-bg);
  border-radius: 12px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.schedule .frame-11 {
  align-items: center;
  align-self: stretch;
  border-radius: 6px 6px 0px 0px;
  display: flex;
  height: 48px;
  justify-content: space-between;
  padding: 6px 12px;
  position: relative;
  width: 100%;
}

.schedule .frame-12 {
  align-items: center;
  display: flex;
  gap: 2px;
  position: relative;
  width: 158.5px;
}

.schedule .text-wrapper-10 {
  color: var(--main-shadesmain-color);
  font-family: "Montserrat", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.schedule .frame-13 {
  align-items: center;
  align-self: stretch;
  border-radius: 0px 0px 6px 6px;
  display: flex;
  height: 48px;
  justify-content: space-between;
  padding: 6px 12px;
  position: relative;
  width: 100%;
}

.schedule .frame-14 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.schedule .frame-15 {
  align-items: center;
  background-color: var(--main-shadesmain-color);
  border-radius: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
  height: 38px;
  justify-content: center;
  position: relative;
}

.schedule .text-wrapper-11 {
  color: var(--ccwhite-ff);
  font-family: "Montserrat", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.schedule .home-button {
  background-color: #72738e33;
  border-radius: 2.5px;
  height: 5px;
  position: relative;
  width: 136.8px;
}
