:root {
  --ccblack-00: rgba(0, 0, 0, 1);
  --ccinput-bg: rgba(248, 248, 248, 1);
  --ccwarning: rgba(255, 55, 55, 1);
  --ccwhite-ff: rgba(255, 255, 255, 1);
  --greygrey-300: rgba(172, 172, 172, 1);
  --greygrey-500: rgba(77, 77, 77, 1);
  --main-shadesmain-color: rgba(80, 180, 152, 1);
}
