@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --body-emphasized-font-family: "SF Pro", Helvetica;
  --body-emphasized-font-size: 17px;
  --body-emphasized-font-style: normal;
  --body-emphasized-font-weight: 400;
  --body-emphasized-letter-spacing: -0.4000000059604645px;
  --body-emphasized-line-height: 22px;
  --body-regular-font-family: "SF Pro", Helvetica;
  --body-regular-font-size: 17px;
  --body-regular-font-style: normal;
  --body-regular-font-weight: 400;
  --body-regular-letter-spacing: -0.4000000059604645px;
  --body-regular-line-height: 22px;
  --callout-regular-font-family: "SF Pro", Helvetica;
  --callout-regular-font-size: 16px;
  --callout-regular-font-style: normal;
  --callout-regular-font-weight: 400;
  --callout-regular-letter-spacing: -0.4000000059604645px;
  --callout-regular-line-height: 21px;
  --ccblack-00: rgba(0, 0, 0, 1);
  --ccwhite-ff: rgba(255, 255, 255, 1);
  --fillsprimary: rgba(120, 120, 128, 0.2);
  --fillsprimary-dark: rgba(120, 120, 128, 0.36);
  --fillstertiary: rgba(118, 118, 128, 0.12);
  --fillstertiary-dark: rgba(118, 118, 128, 0.24);
  --graysblack: rgba(0, 0, 0, 1);
  --graysblack-dark: rgba(0, 0, 0, 1);
  --grayswhite: rgba(255, 255, 255, 1);
  --greygrey-300: rgba(172, 172, 172, 1);
  --greygrey-500: rgba(77, 77, 77, 1);
  --labelsprimary: rgba(0, 0, 0, 1);
  --labelsprimary-dark: rgba(255, 255, 255, 1);
  --labelssecondary: rgba(60, 60, 67, 0.6);
  --labelssecondary-dark: rgba(235, 235, 245, 0.6);
  --labelstertiary: rgba(60, 60, 67, 0.3);
  --labelstertiary-dark: rgba(235, 235, 245, 0.3);
  --main-shadesmain-color: rgba(80, 180, 152, 1);
}
